@import "tailwindcss";

::selection { background-color: #ff3300; color: #000; }
::-webkit-scrollbar { display: none; width: 0; }
* { scrollbar-width: none; }

body { overflow-x: hidden; }

input, textarea, select {
  font-size: 16px !important;
}

.noise-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  pointer-events: none;
  z-index: 9997;
  opacity: 0.04;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAAAAACPAi4CAAABQ0lEQVR42mNwuSxWu2P7Ksac23VHE+wnnZzy+Bkvx/GqiXte+4Vu8E+KfPJ529yI616KPL/lnjLEG700YW7TXfFcamMM97vSgHymSoYW4bC9P76/clwjvY91Qf0lzivKar4e7Lsu/tHum/qhf9FMFeNvd2eIdyX6WMepOswv0ixxPpb7Qj3q4xxvva0T1jvtZDgSPO2vhblW45vof64P9gt5iiSn9Xa4/xK0yT531eD8o5spxWayN8JPLeypnpfacH9T5pZmtrUa6bMM73Tnfb3wvuknA8vka7YV5VkHdWbbtSr8D+oMWbzs7Il2q8Ca1XyiBfxKkks2l8VKTOd6eGb3vaUH5D+t/HLY7W3G8luFMqfXmQroH7JkGA2D0TAYDYPRMBgNg9EwGA2D0TAYDYPRMBgNg9EwGA2D0TAYDQO8YQAAH0T4al1pCE0AAAAASUVORK5CYII=");
  background-repeat: repeat;
  background-size: 180px 180px;
}
